//Colors

$color-primary-dark: #2a3867;
$color-primary-dark-inverted: #d5c798;





//Responsive breakpoints
$bp-largest: 75em;    //1200px (1200/16)
$bp-large: 62em;      //1000px
$bp-medium: 50em;      //800px
$bp-small: 47em;      //720px
$bp-smaller: 34em;      //550px
