.child {
    margin-left: 6rem;
    padding: 5px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: min-content min-content;
}

.child-icon {
    fill: #777;
    height: 1.5rem;
    align-self: center;
    transition: all .2s;
}

.child-number {
    color: #777;
}